body {
	font-size: 12px;
    background-image: url("../images/travel-background-passport-stamps.jpg");
}
.wrap{
    background-image: url("../images/cream_dust.png");
    margin: 15px;
    padding: 15px;
}
#map {
	height: 400px;
	width: 100%;
}
.container-fluid{
	padding: 0;
}
.jumbotron{
	padding: 20px;
    margin: 15px;
}
h1{
	margin: 0;
	text-align: center;
}
#go{
	color: black;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 75px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
form {
	text-align:center;
}
#map {
  height: 400px;
  width: 100%;
}
.container-fluid{
  padding: 0;
}
.jumbotron{
  padding: 20px;
}
h1{
  margin: 0;
  text-align: center;
}
#infowindow-content {
    display: none;
}
#map #infowindow-content {
    display: inline;
}
.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 80%;
}
.price{
    width: 10%;
}
.rating{
    width: 10%;
}.name{
    width: 30%;
}.address{
    width: 50%;
}
button{
    color: black;
}
.gif.lost_man{
    width: 101px;
    height: 144px;
}
.gif.lost_plane{
    width: 175px;
    height: 120px;
}
.header{
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
#places_go_here{
    margin: 15px;
}
.distance,
.duration,
.price{
    width: 33%;
}